@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Kavoon&family=Roboto:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.logo{
margin-left: 98px;
}

.menu{
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
    list-style-type: none;
}

.list{
    display: flex;
    text-transform: uppercase;
    font-weight: 900;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 90px;
    font-size: 24px;
    margin-left: 164px;
    margin-right: 206px;
}

.amp{
    display: flex;
    gap: 21px;
    margin-left: 206px;
    margin-right: 98px;
    
}
