@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Kavoon&family=Roboto:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.list ul{
    display: flex;
    text-transform: uppercase;
    list-style-type: none;
    gap: 90px;
    font-size: 30px;
    margin: 20px;
    font-family: 'roboto';
}

.amp{
    display: flex;
    gap: 21px;
}

.list a{
    color: black;
    text-decoration: dotted;
}

.list  a:hover{
    color: aqua;
}